@{
    ViewBag.Title = "Elérhetőség";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<address>
    Thokoly Way<br />
    Budapest, 1183<br />
    <abbr title="Telefon">T:</abbr>
    132412445
</address>

<address>
    <strong>Email:</strong> <a href="mailto:adrian.balogh@outlook.com">adrian.balogh@outlook.com</a>
</address>