@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Kölcsönző Applikáció</h1>
    <p class="lead">Az applikációval regisztrálhatja a vevőket és az autókat</p>
 
</div>

<div class="row">
    <div class="col-md-4">
        <h2>@Html.ActionLink("Vevoks", "Index", "Vevoks")</h2>   
    </div>
    <div class="col-md-4">
        <h2>@Html.ActionLink("Autoks", "Index", "Autoks")</h2>  
    </div>
    <div class="col-md-4">
        <h2>@Html.ActionLink("Kolcsonzeseks", "Index", "Kolcsonzeseks")</h2>
       
    </div>
</div>