@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Kölcsönző Applikáció</h1>
    <p class="lead">Az applikációval regisztrálhatja a vevőket és az autókat</p>
 
</div>

<div class="row">
    <div class="col-md-4">
        <h2>@Html.ActionLink("Vevok", "Index", "Vevok")</h2>   
    </div>
    <div class="col-md-4">
        <h2>@Html.ActionLink("Autok", "Index", "Autok")</h2>  
    </div>
    <div class="col-md-4">
        <h2>@Html.ActionLink("Kölcsönzések", "Index", "Kölcsönzések")</h2>
       
    </div>
</div>